<div class="z-50 bg-slate-50">
  <div class="flex flex-row p-8">
    <div class="basis-1/4 px-8">
      <div class="flex flex-col">
        <img class="py-4" src="/src/assets/svg/app-logo.svg" />
        <div class="flex flex-row w-1/2">
          <img class="shrink px-1" src="src/assets/img/google-play.png" />
          <img class="shrink px-1" src="src/assets/img/app-store.png" />
        </div>
      </div>
    </div>
    <div class="basis-3/4 p-4">
      <h1 class="font-extrabold text-4xl pb-2 text-zinc-700">
        Teman Curhat Rohani
      </h1>
      <p class="py-2 font-medium text-lg">
        Aplikasi Teman Curhat Rohani dirancang oleh Savin Solution sebagai
        platform anak-anak muda maupun dewasa Kristiani yang memiliki keluh
        kesah dalam kehidupan sehari-hari, namun tidak mempunyai tempat untuk
        bercerita.
      </p>
      <p class="py-2 font-medium text-lg">
        Aplikasi ini diharapkan dapat menjadi sebuah bentuk dukungan emosional
        dengan kata-kata semangat melalui ayat-ayat yang berhubungan dengan
        masalah yang sedang mereka hadapi.
      </p>
    </div>
  </div>
</div>
